.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button:disabled {
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0367A6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #035A91;
}
