/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0367A6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #035A91;
}